//? ================= Font-size ================
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-24: 2.4rem;
$fs-32: 3.2rem;
$fs-46: 4.6rem;
$fs-60: 6rem;
$fs-100: 10rem;

//? ================= Font-weight ================
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;

//? ================= Colors ================
$primary-color: #4ca757;
$title-color: #376a66;
$secondary-color: #3a5469;
$white-text: #fff;
$background-color: white;
$bg-primary: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
