.member {
    .title-mem {
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .message {
        margin-top: 50px;
        margin-bottom: 60px;
    }
}
