.list-project {
    .dload strong {
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .title {
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-transform: capitalize;
        background-color: transparent;
        color: #394854;
        font-size: 0.875vw;
        font-weight: $fw-700;
        background-image: url("../../../assets/img/dropdown.svg");
        background-repeat: no-repeat;
        background-size: 0.625vw;
        background-position: 90% center;
    }
    .select::-ms-expand {
        display: none;
    }
    .select:focus {
        outline: none;
    }

    .select select option:hover {
        background-color: #e0e0e0;
    }

    .select > option {
        padding: 8px;
    }

    .select > option:selected {
        background-color: #999;
        color: #fff;
    }

    .project-item:nth-child(2n) {
        margin-top: 1vw;
    }

    .project-item {
        margin-top: -4vw;
    }

    .slide-prj {
        .swiper-prj {
            .swiper-slide {
                width: 72%;
                .prj {
                    overflow: hidden;
                    .info-block {
                        display: none;
                    }
                    .desc {
                        transform: translateY(-100%);
                        transition: all linear 0.2s;
                    }
                    &:hover .desc {
                        transform: translateY(0);
                    }
                }
                .prj.active {
                    .info-block {
                        display: flex;
                    }
                }
            }
        }
    }
}

.slide-item__otherProject {
    &:hover .title-other_prj {
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

@include mobile {
    .list-project {
        .slide-prj {
            .swiper-prj {
                .swiper-slide {
                    width: 80%;
                    .prj {
                        .desc {
                            display: none;
                        }
                        .num-slide__mb {
                            display: none;
                        }
                    }
                    .prj.active {
                        .desc {
                            display: none;
                        }
                        .num-slide__mb {
                            display: block;
                        }
                    }
                }
            }
        }

        .project-item:nth-child(2n) {
            margin-top: unset;
        }

        .project-item {
            margin-top: unset;
        }
    }
}

@include tablet {
    .list-project {
        .select {
            background-size: 1.27vw;
            background-position: 85% center;
            font-size: 1.85vw;
        }
    }
}

@include mobile {
    .list-project {
        .select {
            background-size: 2.67vw;
            background-position: 85% center;
            font-size: 3.2vw;
        }
    }
}
