.list-project {
    .dload strong {
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .title {
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-transform: capitalize;
        background-color: transparent;
        color: #394854;
        font-size: 0.875vw;
        font-weight: $fw-700;
        background-image: url("../../../assets/img/dropdown2.svg");
        background-repeat: no-repeat;
        background-size: 0.625vw;
        background-position: 90% center;
    }
    .select::-ms-expand {
        display: none;
    }
    .select:focus {
        outline: none;
    }

    .select option {
        font-size: 1vw;
    }

    .select > option:selected {
        background-color: #999;
        color: #fff;
    }

    .slide-prj {
        .swiper-prj {
            .swiper-slide {
                width: 72%;
                .prj {
                    overflow: hidden;
                    .info-block {
                        display: none;
                    }
                    .desc {
                        transform: translateY(-100%);
                        transition: all linear 0.4s;
                    }
                    &:hover .desc {
                        transform: translateY(0);
                    }
                    .overlay-img {
                        background-color: #00000033;
                        opacity: 0;
                        transition: all 0.4s ease-in;
                    }
                    &:hover {
                        .overlay-img {
                            opacity: 1;
                        }
                    }
                }
                .prj.active {
                    .info-block {
                        display: flex;
                    }
                }
            }
        }
    }
}

.slide-item__otherProject {
    .title-other_prj:hover,
    a:hover {
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.filter-mb {
    transition: all 0.4s ease;
}

.filter-mb.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    background-color: #fafafa;
    width: 100%;
    padding-left: 2.66vw;
    padding-right: 2.66vw;
    display: flex;
}
@include mobile {
    .list-project {
        .slide-prj {
            .swiper-prj {
                .swiper-slide {
                    width: 80%;
                    .prj {
                        .desc {
                            display: none;
                        }
                        .num-slide__mb {
                            display: none;
                        }
                    }
                    .prj.active {
                        .desc {
                            display: none;
                        }
                        .num-slide__mb {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@include tablet {
    .list-project {
        .select {
            background-size: 1.27vw;
            background-position: 85% center;
            font-size: 1.85vw;
            option {
                font-size: 2vw;
            }
        }
    }
}

@include mobile {
    .list-project {
        .select {
            background-size: 2.67vw;
            background-position: 85% center;
            font-size: 3.2vw;
            option {
                font-size: 3.67vw;
            }
        }
    }
}
