.content-projectDetail {
    .wp-block-image {
        width: 100%;
        img {
            margin-top: 8.67vw;
            width: 100%;
            object-fit: cover;
        }
    }
    p {
        font-weight: 400;
        font-size: 1.125vw;
        color: #394854;
        line-height: 1.5;
    }
    h3 {
        margin-top: 4.125vw;
        margin-bottom: 1.5vw;
        font-weight: 800;
        font-size: 2.875vw;
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    .wp-block-gallery.is-layout-flex {
        margin-top: 2.875vw;
        margin-bottom: 2.5vw;
        display: flex;
        gap: 1.375vw;
        img {
            margin-top: 0;
            object-fit: cover;
        }
    }
}

@include tablet {
    .content-projectDetail {
        p {
            font-size: 2vw;
        }
        h3 {
            font-size: 4.67vw;
        }
    }
}

@include mobile {
    .content-projectDetail {
        .wp-block-image {
            img {
                margin-top: 10.67vw;
                height: 83.46vw;
            }
        }
        p {
            font-size: 3.73vw;
        }
        h3 {
            line-height: 1.2;
            margin-top: 6.4vw;
            margin-bottom: 4.27vw;
            font-size: 6.67vw;
        }
        .wp-block-gallery.is-layout-flex {
            margin-top: 4.27vw;
            margin-bottom: 4.27vw;
            img {
                height: 36vw;
            }
        }
    }
}
