.project-item {
    overflow: hidden;
    .img-prj,
    .slide-item__otherProject {
        overflow: hidden;
        cursor: pointer;
        .overlay-img {
            background-color: #00000033;
            transition: all 0.4s linear;
            opacity: 0;
        }
    }
    .desc {
        transform: translateY(-150%);
        transition: all 0.4s linear;
    }
    &:hover {
        .img-prj {
            .overlay-img {
                opacity: 1;
            }
        }
    }
    .slide-item__otherProject:hover {
        .overlay-img {
            opacity: 1;
        }
    }
    .title-prj {
        cursor: pointer;
        color: #394854;
        &:hover {
            background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    a {
        color: #394854;
    }
}
