.project-item {
    .img-prj {
        overflow: hidden;
        cursor: pointer;
        img {
            transition: all 0.3s linear;
            &:hover {
                scale: 1.2;
            }
        }
    }
    .title-prj {
        cursor: pointer;
        color: #394854;
        &:hover {
            background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    a {
        color: #394854;
        &:hover {
            background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
}
