.bg-common {
    background-image: url(../../../../assets/img/bg-common.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.dynamic {
    .wrapper {
        .title {
            h3 {
                letter-spacing: -0.05em;
                text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04);
            }
        }
        .category {
            counter-reset: e;
            ul {
                li {
                    display: flex;
                    align-items: flex-start;
                    &:last-child {
                        border-bottom: none;
                    }
                    &:first-child {
                        padding-top: 0;
                    }
                    &::before {
                        margin-top: 0.5vw;
                        padding-right: 5.88vw;
                        counter-increment: e;
                        content: "0" counter(e) ".";
                        font-size: 1.125vw;
                    }
                    &:hover {
                        background: linear-gradient(
                            180deg,
                            #4ca757 0%,
                            #16a571 100%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

@include tablet {
    .dynamic {
        .wrapper {
            .category {
                ul {
                    li {
                        font-size: 2.25vw;
                        align-items: center;
                        &::before {
                            margin-top: 0;
                            font-size: 1.75vw;
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .dynamic {
        .wrapper {
            .category {
                ul {
                    li {
                        align-items: center;
                        font-size: 4.26vw;
                        &::before {
                            margin-top: 0;
                            font-size: 2.25vw;
                        }
                    }
                }
            }
        }
    }
}
