.sldie-team {
    .img-team {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.slide-team .slide-item-news .item-member {
    margin-top: 20px;
    .desc-member {
        font-weight: $fw-400;
        font-size: $fs-16;
        line-height: 1.5;
        color: #394854;
    }
    .name-member {
        font-weight: $fw-700;
        font-size: $fs-24;
        line-height: 1.5;
        color: #394854;
    }
}
