.bg-insure {
    background-image: url(../../../../assets/img/bg-common.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.solution {
    transform: translateY(100%);
    position: absolute;
    width: 100%;
    z-index: 9;
    // bottom: 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            .text {
                width: 467px;
                font-weight: $fw-800;
                font-size: $fs-46;
                line-height: 1.22;
                letter-spacing: -0.05em;
                -webkit-text-stroke: 1px #4ca757;
                color: #fff;
            }
            img {
                width: 27.75vw;
                object-fit: cover;
            }
        }
        .num {
            margin-bottom: 180px;
            margin-right: 1.75vw;
            div {
                font-weight: $fw-700;
                font-size: 290px;
                line-height: 0.86;
                color: white;
                text-shadow: -1px -1px 0 #4ca757, 1px -1px 0 #4ca757,
                    -1px 1px 0 #4ca757, 1px 1px 0 #4ca757;
            }
            span {
                font-weight: $fw-700;
                font-size: $fs-20;
                line-height: 1.8;
                letter-spacing: -0.32px;
                text-transform: uppercase;
                -webkit-text-stroke: 1px #4ca757;
                color: #fff;
            }
        }
    }
}
