.value {
    padding-top: 120px;
    padding-bottom: 20vw;
    background-image: url(../../../../assets/img/bg-common.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    .row {
        display: flex;
        align-items: center;
        .text {
            width: 53%;
            font-weight: $fw-800;
            font-size: $fs-46;
            line-height: 1.22;
            letter-spacing: -0.05em;
            color: #394854;
            strong {
                background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        .download {
            margin-left: 25vw;
            width: 47%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 9.9375vw;
            height: 9.9375vw;
            border-radius: 50%;
            background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
            img {
                width: 40%;
                object-fit: cover;
            }
            .text {
                font-weight: 400;
                font-size: 11px;
                line-height: 2.18;
                text-transform: uppercase;
                color: #ffffff;
                text-align: center;
            }
        }
    }

    .bg-value {
        width: 57.8125%;
        height: 70vh;
        object-fit: cover;
        position: absolute;
        bottom: -20vw;
        right: 70px;
    }
    .text-image {
        width: 645px;
        position: absolute;
        bottom: 0;
        left: 70px;
        bottom: -20vw;
        font-weight: $fw-700;
        font-size: 63px;
        line-height: 1.05;
        color: #fff;
        strong {
            -webkit-text-stroke: 1.5px #fff;
            color: transparent;
        }
        opacity: 0;
    }
}
