.value {
    padding-top: 120px;
    background-image: url(../../../../assets/img/bg-common.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    .row {
        .text {
            letter-spacing: -0.05em;
            strong {
                background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
        .download {
            width: 9.9375vw;
            height: 9.9375vw;
            border-radius: 50%;
            img {
                width: 40%;
                object-fit: cover;
            }
        }
    }

    .text-image {
        strong {
            -webkit-text-stroke: 1.5px #fff;
            color: transparent;
        }
        opacity: 0;
    }
    .text-image_mb {
        strong {
            -webkit-text-stroke: 1px #fff;
            color: transparent;
        }
    }
}

@include tablet {
    .value {
        background-image: none;
        .row {
            .download {
                width: 15vw;
                height: 15vw;
            }
        }
    }
}

@include mobile {
    .value {
        background-image: none;
        .row {
            .download {
                width: 26.66vw;
                height: 26.66vw;
            }
            .text {
                strong {
                    background: unset;
                    -webkit-text-fill-color: unset;
                    color: #4ca757 !important;
                }
            }
        }
    }
}
