.list-news {
    .title {
        .text {
            background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    .filter {
        .filter-item {
            border: 1px solid #4ca757;
            cursor: pointer;
            border-radius: 50px;
            &.active {
                color: #fff;
                background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
            }
        }
    }
    .pagination {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 70px;
    }

    .pagination .btn {
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
        border: none;
        outline: none;
        background: #fff;
        cursor: pointer;
        font-size: 17px;
        font-weight: 600;
        color: #2b2b2b;
    }
}
