.about .left .btn-see {
    transition: all 0.3s ease-in;
}
.about .left .btn-see:hover {
    scale: 1.1;
    cursor: pointer;
}
.about .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .right {
    gap: 10px;
    grid-template-columns: 10vw 14.19vw 14.75vw 6.33vw 2.17vw 5vw;
    grid-template-rows: 8.25vw 2.13vw 10vw 6.82vw 4.44vw 3.56vw 2.22vw 6.28vw;
    grid-template-areas:
        ". . . m1 m1 ."
        "m2 m3 m3 . . ."
        "m2 m3 m3 m4 m4 m4"
        ". m3 m3 m4 m4 m4"
        "m5 . m6 m4 m4 m4"
        "m5 . m6 . . ."
        ". . m6 . . ."
        ". . m6 m7 . .";
}

.about .right .id-5 {
    grid-area: m1;
    background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
    border-radius: 0px 20.0903px 0px 0px;
}

.about .right .id-1 {
    grid-area: m2;
}

.about .right .id-2 {
    grid-area: m3;
}

.about .right .id-3 {
    grid-area: m4;
}

.about .right .id-6 {
    grid-area: m5;
}

.about .right .id-4 {
    grid-area: m6;
}

.about .right .id-7 {
    grid-area: m7;
}

.about .right .id-6 {
    background: #ebeef0;
    border-radius: 0px 0px 0px 20.0903px;
    z-index: 2;
}

.about .right .id-7 {
    background: #ebeef0;
    border-radius: 0px 0px 20.0903px 0px;
    z-index: 2;
}

.about .right .id-1 {
    transform: translateX(-400%);
}

.about .right .id-2,
.about .right .id-6,
.about .right .id-4 {
    transform: translateX(-100%);
}
.about .right .id-5,
.about .right .id-3,
.about .right .id-7 {
    transform: translateX(100%);
}

.about .left .desc {
    margin-top: 16px;
    font-weight: 800;
    color: #3a5469;
}

.about .left .desc strong {
    color: #4ca757;
}

.about .row-text {
    margin-top: 121px;
    margin-bottom: 58px;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.about .img {
    animation: rotate 20s linear infinite;
    object-fit: cover;
}

@include mobile {
    .about .right {
        grid-template-columns: 17.68vw 25.08vw 26.08vw 11.19vw 3.84vw 8.84vw;
        grid-template-rows: 14.59vw 3.76vw 17.68vw 15.25vw 7.85vw 6.29vw 3.93vw 11.1vw;
    }
    .about .right .id-1 {
        transform: translateX(0);
    }

    .about .right .id-2,
    .about .right .id-6,
    .about .right .id-4 {
        transform: translateX(0);
    }
    .about .right .id-5,
    .about .right .id-3,
    .about .right .id-7 {
        transform: translateX(0);
    }
}
