.partners {
    background-image: url(../../../assets/img/bg-partners.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: auto;
    .wrapper {
        background: rgba(255, 255, 255, 0.94);
    }
}

/* ----------Scroll reveal effect--------------- */

.partners .slideP {
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s linear;
}

.partners .title,
.partners .text {
    opacity: 0;
    transition: all 2.5s linear;
}

.partners.active .title,
.partners.active .text {
    opacity: 1;
}

.partners.active .slideP {
    transform: translateY(0);
    opacity: 1;
}
