.swiper-assets {
    .swiper-slide {
        width: 70%;
        .item {
            opacity: 0.7;
        }
        .item.active {
            opacity: 1;
        }
    }
}

@include mobile {
    .swiper-assets {
        .swiper-slide {
            width: 80%;
        }
    }
}
