.equipment {
    .list-heading {
        .heading-item {
            cursor: pointer;
            &.active {
                color: #fff;
                font-weight: 800;
                opacity: 1;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.equipment-mb {
    .list-heading {
        .heading-item {
            &.active {
                background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
    .item-equip {
        &:first-child .question {
            border-top: none;
        }
        &:last-child .question {
            border-bottom: 1px solid #ccc;
        }
        &:last-child .answer .top {
            border-top: none;
        }
        .question + .answer {
            height: 0;
            overflow: hidden;
            transition: height ease-in 0.3s;
        }
        .question.active {
            span {
                background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
            & + .answer {
                height: auto;
            }
            & > img {
                opacity: 0;
                visibility: hidden;
                transition: all ease-in 0.3s;
            }
        }
        .slide-equip {
            border-bottom: 1px solid #ccc;
        }
    }
}
