.equipment {
    .list-heading {
        .heading-item {
            cursor: pointer;
            &.active {
                color: #fff;
                font-weight: 800;
                opacity: 1;
            }
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}

.equipment-mb {
    .list-heading {
        .heading-item {
            &.active span {
                opacity: 1;
                color: #fff;
            }
            &:hover span {
                opacity: 1;
            }
        }
    }
    .item-equip {
        &:first-child .question {
            border-top: none;
        }
        &:last-child .question {
            // border-bottom: 1px solid #c2c2c2;
        }
        &:last-child .answer .top {
            border-top: 1px solid #c2c2c2;
        }
        .question + .answer {
            height: 0;
            overflow: hidden;
            transition: height ease-in 0.3s;
        }
        &:hover {
            span {
                color: #fff;
                opacity: 1;
            }
        }
        .question.active {
            span {
                color: #fff;
                opacity: 1;
            }
            & + .answer {
                height: auto;
            }
            & > img {
                rotate: 180deg;
            }
        }
        .question {
            img {
                transition: all ease-in 0.3s;
            }
        }
        .slide-equip {
            border-bottom: 1px solid #c2c2c2;
        }
    }
}
