.profile {
    /* width */
    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #ebebeb;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #c1c1c1;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #acacac;
    }
}
