.news-item {
    cursor: pointer;
    .info {
        .date {
            line-height: 1.69;
            color: #376a66;
        }
    }
    &:hover {
        background: linear-gradient(180deg, #4ca757 0%, #16a571 100%);
        .info {
            span,
            .title,
            a {
                color: #fff;
            }
        }
    }
}
