.content-newsDetail {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.content-news {
    p {
        font-weight: 400;
        font-size: 1.125vw;
        color: #394854;
        line-height: 1.5;
    }
    h3,
    h4 {
        margin-top: 1.875vw;
        margin-bottom: 0.875vw;
        font-size: 1.5vw;
        font-weight: 700;
        line-height: 1.38;
        color: #394854;
    }

    h4 {
        font-size: 1.25vw;
    }
    .is-layout-flex {
        width: 100%;
        margin: 2vw 0;
        display: flex;
        gap: 1.375vw;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .wp-block-image {
        margin: 2.5vw 0;
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
