.quality {
    .title {
        z-index: 99;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
        color: transparent;
        white-space: nowrap;
        line-height: 1;
        top: -6.875vw;
    }
    .quality-item {
        opacity: 0.6;
    }
    .quality-item.active {
        opacity: 1;
    }
}
