.award {
    .wrapper-34 {
        background-image: url(../../../../assets/img/bg-common.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 200px;
    }
}
