.slide-review {
    .swiper-wrapper {
        align-items: center;
    }
    .slide-item-review {
        .img-review {
            width: 50%;
            height: 15vw;
            object-fit: cover;
            transition: all 0.3s linear;
            img {
                width: 100%;
                object-fit: cover;
                transition: all 0.3s linear;
            }
        }
        .item-review {
            background: transparent;
            width: 50%;
            transition: all 0.3s linear;
            img {
                width: 2.125vw;
                object-fit: contain;
                transition: all 0.3s linear;
            }
            .text {
                font-weight: $fw-600;
                font-size: 1.125vw;
                line-height: 1.5;
                color: #394854;
                transition: all 0.3s linear;
            }
            .ceo {
                img {
                    width: 2.5vw;
                    height: 2.5vw;
                    border-radius: 50%;
                    object-fit: cover;
                    transition: all 0.3s linear;
                }
                .desc {
                    & span:first-child {
                        font-weight: $fw-600;
                        font-size: 1.125vw;
                        line-height: 1.5;
                        color: #394854;
                        transition: all 0.3s linear;
                    }
                    & span:nth-child(2) {
                        font-weight: $fw-400;
                        font-size: 0.75vw;
                        line-height: 1.5;
                        color: #394854;
                        transition: all 0.3s linear;
                    }
                }
            }
        }
        a.active {
            .img-review {
                width: 40%;
                height: 18vw;
            }
            .item-review {
                width: 60%;
                img {
                    width: 4.5vw;
                    height: 3.4375vw;
                }
                .text {
                    font-weight: $fw-600;
                    font-size: 1.5vw;
                    line-height: 1.5;
                    color: #394854;
                }
                .ceo {
                    img {
                        width: 3vw;
                        height: 3vw;
                    }
                    .desc {
                        & span:first-child {
                            font-size: 1.5vw;
                        }
                        & span:nth-child(2) {
                            font-size: 0.875vw;
                        }
                    }
                }
            }
        }
    }
}
