.slide-certified {
    display: flex;
    align-items: center;
    .bg-active {
        background: rgba(255, 255, 255, 0.1);
    }
    .btn-action {
        width: 20%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-certified {
        border-left: 1px solid #ccc;
        padding: 80px;
        padding-right: 0;
        padding-left: 60px;
        width: 80%;
    }
}
